---
import Footer from "@components/Footer.astro";
import NavBar from "@components/NavBar.astro";
import "@fontsource/dm-sans";
import "@fontsource/instrument-serif";
import "@styles/global.css";
const { title = "Jason Sipula - Technology Executive & Advisor" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="flex min-h-screen flex-col">
    <NavBar />
    <main class="flex-1 pt-24">
      <slot />
    </main>
    <Footer />
  </body>
</html>
